.buttons_style {
	background:none; /*nimmt dem button seinen typischen grauen hintergrund*/
	border:none; /*nimmt dem button seine typische umrandung mit dem schatten*/
	outline-style:none; /*nimmt dem button seinen hellblauen rand, wenn er geklickt wird*/
	font-size:20px;
}
#pfeil_hoch_1, #pfeil_hoch_2, #pfeil_hoch_3 {
	display:none;
	}
	
p {
	display:none;
}

@media (max-width:480px){
	.buttons_style {
		font-size:36px;
		width:100%;
	}
}

@media (min-width:480px){
	p {
		width:200px;
	}
}
